.drawer__container_animate {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

.drawer__container_opening {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-duration: 350ms;
         -o-transition-duration: 350ms;
            transition-duration: 350ms;
}

.drawer__container_closing {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition-duration: 250ms;
         -o-transition-duration: 250ms;
            transition-duration: 250ms;
}

.drawer {
    height: 100vh;
    display: flex;
}

.drawer_position {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.drawer__container {
    width: 256px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-right-width: 1px;
    border-right-style: solid;
    overflow: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         -o-transition-timing-function: cubic bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic bezier(0.4, 0, 0.2, 1);
    background-color: var(--main-bg-color);
}

.drawer__container_position {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 6;
}

.drawer__container_modal {
    -webkit-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px
                      rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px
                      rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    /* @noflip */
    left: 0;
    /* @noflip */
    right: initial;
    display: none;
    position: fixed;
}

.drawer__container_modal.drawer__container_open {
    display: -ms-flexbox;
    display: flex;
}

.drawer__header {
    flex-shrink: 0;
    min-height:64px;
    padding: 0 16px 4px;
}

.drawer__title {
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
    display: block;
    line-height: normal;
    margin-top: 0;
    margin-bottom: -20px;
}

.drawer__title::before {
    display: inline-block;
    width: 0;
    height: 36px;
    content: "";
    vertical-align: 0;
}

.drawer__title::after {
    display: inline-block;
    width: 0;
    height: 20px;
    content: "";
    vertical-align: -20px;
}

.drawer__subtitle {
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    display: block;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.6)
}

.drawer__scrim {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-out; /*cubic-bezier(0.4, 0, 0.2, 1);*/
    -o-transition-timing-function: ease-out; /*cubic-bezier(0.4, 0, 0.2, 1);*/
    transition-timing-function: ease-out; /*cubic-bezier(0.4, 0, 0.2, 1);*/
}

.drawer__container_open + .drawer__scrim {
    display: block;
    background-color: rgba(0,0,0,.32);
}

.drawer_animate + .drawer__scrim {
    opacity: 0;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-out; /*cubic-bezier(0.4, 0, 0.2, 1);*/
    -o-transition-timing-function: ease-out; /*cubic-bezier(0.4, 0, 0.2, 1);*/
    transition-timing-function: ease-out; /*cubic-bezier(0.4, 0, 0.2, 1);*/
}

.drawer__container_opening + .drawer-scrim {
    -webkit-transition-duration: 350ms;
         -o-transition-duration: 350ms;
            transition-duration: 350ms;
    opacity: 1;
}

.drawer__container_closing + .drawer-scrim {
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    opacity: 0;
}

.drawer__content {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.list {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    line-height: 1.5rem;
    margin: 0;
    padding: 8px 0;
    list-style-type: none;
    color: var(--main-text-color-gray); /* or rgba(0,0,0,.87) */
}

.list__item {
    display: flex;
    position: relative;
    border-radius: 4px;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
    text-decoration: inherit;
    text-transform: inherit;
    color:rgba(0,0,0,.6);
    height: 40px;
    margin: 8px;
    padding: 0 8px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.list__item:before, .list__item:after {
    background-color:#000;
    position: absolute;
    top: calc(50% - 100%);
    /* @noflip */
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: "";
    z-index: 1;
    -webkit-transition: opacity 15ms linear, background-color 15ms linear;
    -o-transition: opacity 15ms linear, background-color 15ms linear;
    transition: opacity 15ms linear, background-color 15ms linear;
}

.list__item:hover:before {
    opacity: .04;
}

.list .list__item:first-child {
    margin-top:2px;
}

.list__item_activated {
    color: rgba(98,0,238,.87) 
}

.list__item.list__item_activated:after {
    background-color: #6200ee;
    opacity: .12;
}


.icon {
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;
}

.list-item__graphic {
    display: inline-flex;
    margin-left: 0;
    margin-right: 32px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    background-color: transparent;
    pointer-events: none;
    color: inherit
}

.list-item__text {
    font-weight: 600;
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
}

.list-group__subheader {
    display: block;
    align-self: start;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    margin-top: 0;
    color: rgba(0,0,0,.6);
    margin: 16px;
    list-style-type: none;
}


.list__divider {
    margin: 3px 0 4px;
}

.about__content {
    padding: 0px 16px;
    padding-bottom: 5px;
}

.list-item__graphic .list-item__text {
    z-index: 3;
}



.csc_logo1 {
    background: url(../img/FaceMask-Logo.png);
}
.csc_logo2 {
    background: url(../img/TheFrontLineLogo.png)
}

.csc_logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}