/* MAIN SETUP */
:root {
  /* COLOR VARIABLES */
  --main-bg-color: #F2F2F2;
  --main-container-bg-color: #FFFFFF;
  --main-primary-color: #6200EE;
  --main-secondary-color: #03DAC5;
  
  --main-text-color-black: #000000;
  --main-text-color-gray:#4a4a4a;
  --main-text-color-white: #FFFFFF;
  
  --row-alternate-color: #C8FFF4;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', 'Open Sans';
  font-style: normal;
  font-weight: normal;
  color: var(--main-text-color-black);
  margin: 0;
  padding: 0;
}

/* TEXT */
.headline-6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  letter-spacing: 0.15px;
}

.subhead {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
}

.subtitle-1 {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}

.assistive-text {
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.4px;
}

.input-text {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.strong {
  font-weight: bold;
  color: #000000;
  }


/* GLOBAL */

.txt_color-white {
  color: var(--main-text-color-white);
}

.txt_color-black {
  color: var(--main-text-color-black)
}

.divider {
  height: 1px;
  margin-top: 11px;
  background: rgba(33, 33, 33, 0.08);
  mix-blend-mode: normal;
}

.link {
  color: var(--main-primary-color);
}

.link:hover {
  color: var(--main-secondary-color);
}

.link_field-color {
  color: rgba(0, 0, 0, 0.6);
}

.clean-link {
  text-decoration: none;
}

.btn {
  width: 90px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background-color: var(--main-primary-color);
  border:none;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
}

.btn-secondary {
  width: 74px;
  height: 36px;
  color: var(--main-primary-color);
  background: none;
  outline-color: var(--main-primary-color);
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

/* PAGE STYLING */
.page {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-rows: 56px auto auto;
}

.page__header {
  width: 100vw;
  min-height: 56px;
  background-color: var(--main-primary-color);
  color: var(--main-text-color-white);
  grid-template-columns: 72px auto auto;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 
              0px 1px 10px rgba(0, 0, 0, 0.12), 
              0px 2px 4px rgba(0, 0, 0, 0.2);
}

.page__header_position {
  position: fixed;
  top: 0px;
  left: 0px;
  grid-row: 1 / 2;
  z-index: 3;
}

.header__wrapper {
  display: grid;
}

.header__wrapper_position {
  margin-left: auto;
  margin-right: auto;
}

.nav__container {
  width: 56px;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  z-index: 4;
}

.nav-menu__container {
  height: 24px;
  text-align: center;
  margin: 16px 16px;
}

.menu-bars__container {
  cursor: pointer;
  display: inline-block;
}

.menu__bar {
  width: 24px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.header__title_position {
  margin-top: 17px;
  margin-bottom: 8px;
}

.header__sub-title_position {
  grid-column: 3 / 4;
  margin-top: 20px;
  margin-right: 10px;
}

.logo {
  color: rgba(0,0,0,.6);
}

.logo-left-spacing {
  margin-left: 2px;
}

.page__content {
  width: 80%;
  height:100%;
  background-color: var(--main-bg-color);
}

.page__content_position {
  grid-row: 2 / 3;
  margin-right: auto;
  margin-left: auto;
}

.content__divider-position {
  left: 0%;
  right: 0%;
  top: calc(50% - 103px);
}

.content__section_position {
  margin-top: 30px;
}

.section__title {
  color: var(--main-primary-color)
}

.section__paragraph {
  margin-top: 15px;
}

.section__sub-title {
  color: var(--main-primary-color);
}

.section__form {
  width: 328px;
}

.section__form_position {
  margin-top: 22px;
}

.form__fieldset {
  width: 100%;
  height: 54px;
  border: 2px solid var(--main-primary-color);
  border-radius: 2px;
}

.form__fieldset:focus-within {
  border: 3px solid var(--main-primary-color);
}

.fieldset__legend {
  background: var(--main-bg-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.4px;
  color: var(--main-primary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fieldset__legend_position {
  margin-left: 16px;
  padding-left: 3px;
  padding-right: 3px;
  z-index: 1;
}

.fieldset__input-text {
  width: 99%;
  height: 37px;
  border: none;
  background: none;
  caret-color: var(--main-primary-color);
  outline: none;
}

.fieldset__input-text_position {
  position: relative;
  top: -1px;
  padding-left: 16px;
}

.fieldset__assistive-text {
  color: rgba(0, 0, 0, 0.6);
}

.fieldset__assistive-text_position {
  margin-left: 16px;
}

.form__button-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__button-row_position {
  margin-top: 45px;
}

.card {
  width: 344px;
  height: 382px;
  background: rgba(33, 33, 33, 0.08);
  /* 01 dp */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.card_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__overlay {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 4px;
}

.card__header, 
.profile-header__container {
  display: grid;
  height: 72px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

.card__header_position {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.card-header__profile-logo, 
.profile-header__logo {
  grid-column: 1 / 2;
  background: none;
}

.profile-logo {
  width: 40px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 100%;
  margin-top: 16px;
  padding: 2px;
}


.card-header__profile-id, 
.profile-header__id {
  grid-column: 2 / 3;
}

.card-header__profile-id_position,
.profile-header__id_position {
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
}

.card-header__profile-stock-price,
.profile-header__stock-price {
  grid-column: 3 / 4;
  align-self: center;
}

.card-header__profile-changes,
.profile-header__changes {
  grid-column: 4 / 5;
  align-self: center;
  margin-right: 10px;
  text-align: center;
}

.profile-numbers {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.1px;
  color: #000000;
}

.card__chart {
  width: 100%;
  background: url(../img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  background-color: var(--main-secondary-color);
}

.card__chart_position {
  position: absolute;
  top: 18.85%;
  bottom: 30.37%;
}

.card__secondary-text {
  height: 40px;
}

.card__secondary-text_position {
  position: absolute;
  left: 16px;
  bottom: 63px;
  padding-right: 16px;
}

.card__button-row {
  width: 100%;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__button-row_position {
  position: absolute;
  bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
}

/*** PROFILE PAGE ***/
.section__profile-header {
  background: var(--main-bg-color);
  width: 100%;
}
.section__profile-header_position {
  position:fixed;
  top:55px;
  left:0px;
  padding-top: 16px;
  padding-bottom: 3px;
}

.profile-header__container {
  width: 100%;
}

.profile-header__container_position {
  margin-right: auto;
  margin-left: auto;
}

.profile-header__stock-price {
  margin-right: 10px;
}

.section__company-info {
  display: grid;
  grid-template-areas:
    'ceo ceo'
    'sector industry'
    'website website'
    'exchange exchange'
    'description description';
}

.section__company-info_position {
  margin-top: 90px;
}

.company-info__label {
  color: var(--main-primary-color);
}

.company-info {
  margin-top: 10px;
}

.company-info__ceo {
  grid-area: ceo;
}

.company-info__sector {
  grid-area: sector;
}

.company-info__industry {
  grid-area: industry;
}

.company-info__website {
  grid-area: website;
}

.company-info__exchange {
  grid-area: exchange;
}

.company-info__description {
  grid-area: description;
}

.content__financial-summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 220px;
}

.content__financial-summary_position {
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
}

.table-wrapper {
  width: 100%;
} 

.financial-summary__label {
  display: block;
  margin-top: 10px;
  color: var(--main-primary-color);
}

.financial-summary__table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  background:var(--main-bg-color);
}

.financial-summary__table_position {
  margin-right: auto;
  margin-left: auto;
}

.table-row,
.table-header, 
.table-field {
  border: none;
  height: 35px;
}

.table-row:nth-of-type(odd) {
  background-color: var(--row-alternate-color);
}

.table-header {
  text-align: left;
  padding-left: 12px;
}

.table-field {
  text-align: center;
  color: var(--main-text-color-black);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

.page__footer_position {
  grid-row: 3 / 4;
}

.footer__link-wrapper {
  display: flex;
  justify-content: space-between;
  width: 61%;
}

.value-is-positive {
  color: green;
}

.value-is-negative {
  color: red;
}

/*** snackbar notification message styling (MD) ***/
/*** https://material-components.github.io/material-components-web-catalog/#/component/snackbar ***/

.snackbar {
  display: none;
  z-index: 8;
  margin: 8px;
  position: fixed;
  left: 0px;
  bottom: 40px;
  right: 0px;
    -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items:center;
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.snackbar__surface {
  background-color:#333333;
  display: -ms-flexbox;
  display: flex;
  min-width: 344px;
  max-width: 672px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                      0px 6px 10px 0px rgba(0, 0, 0, 0.14),
                      0px 1px 18px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                      0px 6px 10px 0px rgba(0, 0, 0, 0.14),
                      0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -ms-flex-align: center;
     align-items: center;
   -ms-flex-pack: start;
 justify-content: flex-start;
 -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
         transform: scale(0.8);
  opacity: 0;

  
}

@media (max-width: 480px), (max-width: 344px) {
  .snackbar__surface {
    min-width: 100%;
  }
}

@media (min-width: 410px) {
  .footer__link-wrapper {
    width: 53%;
  }
  
}

.snackbar__message {
  color: rgba(255, 255, 255, 0.87);
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 14px 16px;
}

.snackbar__message::before {
  display: inline;
}

.snackbar--opening,
.snackbar--open,
.snackbar--closing {
  display: -ms-flexbox;
  display: flex;
}

.snackbar--leading {
    -ms-flex-pack: start;
  justify-content: flex-start;
}

.snackbar--open .snackbar__surface {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  
  -webkit-transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1),
                      -webkit-transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1),
              -webkit-transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1),
                 transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1),
              transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 150ms 0ms cubic-bezier(0, 0, 0.2, 1), 
              transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1),
              -webkit-transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
}

.snackbar--closing .snackbar__surface {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
 -webkit-transition: opacity 75ms 0ms cubic-bezier(0.4, 0, 1, 1);
      -o-transition: opacity 75ms 0ms cubic-bezier(0.4, 0, 1, 1);
         transition: opacity 75ms 0ms cubic-bezier(0.4, 0, 1, 1);
}

@media (min-width: 700px) {
  .header__wrapper {
    width: 60%;
  }

  .page__content {
    width: 55%;
  }

  .card {
    width: 444px;
    height: 482px;
  }

  /** PROFILE PAGE **/
  .profile-header__container {
    width: 80%;
  }
  
  .content__financial-summary {
    flex-direction: initial;
    flex-wrap: unset;
    width: unset;
  }

}

@media (min-width: 540px) {
 

  /** PROFILE PAGE **/
  
  .content__financial-summary {
    flex-direction: initial;
    flex-wrap: unset;
    width: unset;
  }

  .footer__link-wrapper {
    width: 55%;
  }
 
}

@media (min-width: 769px) {
  .footer__link-wrapper {
    justify-content: center;
  }
  .link_to-top {
    display:none;
  }
}